name: python-build
on: workflow_dispatch
jobs:
  python-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - name: Installation des dépendances
        run: pip install ifaddr psutil pylint
      - name: Exécution du test
        run: pylint --disable=missing-docstring script/mysystem/mysystem.py